.div {
  border: 1px solid rgb(59, 53, 53);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
